@tailwind base;
@tailwind components;
@tailwind utilities;



.animated_text{
    -webkit-text-stroke: 1px #000;
    background: url('../images/back1.png');
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

.animated_text1{
    -webkit-text-stroke: 1px #fff;
    background: url('../images/back1.png');
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes back {
    100%{
        background-position: 2000px 0;
    }
}
